    /*  ==== ====== */
    /*  NAVBAR        */
    /*  ========= */
    
    * {
        box-sizing: border-box;
    }
    
    body {
        margin: 0;
        padding: 0;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-image: linear-gradient(180deg, #f28bb2, #ed88ae);
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    
    #navbar {
        background-color: #46aa13;
        padding: 5px 30px;
        display: flex;
        justify-content: space-between;
    }
    
    .img-site {
        width: 50px;
        border-radius: 50%;
    }
    
    .infos {
        padding: 20px;
    }
    
    .menu {
        font-weight: bold;
        display: flex;
    }
    
    #menu-links {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
    }
    
    .menu>ul>li {
        list-style: none;
        padding: 0px 0;
    }
    
    .menu>ul>li>a {
        text-decoration: none;
        color: white;
        padding: 30px 0;
        transition: all 0.5s ease;
    }
    
    .menu>ul>li>a:hover {
        color: aquamarine;
    }
    
    #titre-page {
        font-size: 22px;
        border-bottom: 2px solid black;
    }
    
    #myVideo {
        width: 100%;
    }
    
    #content {
        display: flex;
        justify-content: center;
    }
    
    .text-container {
        background: rgba(0, 0, 0, 0.678);
        color: #f1f1f1;
        padding: 10px;
        padding-bottom: 40px;
        position: relative;
        margin-top: -250px;
    }
    
    .text-container>p {
        margin-bottom: 24px;
    }
    
    #myBtn {
        width: 200px;
        font-size: 18px;
        font-weight: bold;
        padding: 10px;
        border: none;
        background: rgb(247 224 60);
        ;
        color: black;
        cursor: pointer;
        text-decoration: none;
    }
    
    #myBtn:hover {
        background: rgb(197, 197, 2);
        color: black;
    }
    
    main {
        margin: 20px;
    }
    
    @media screen and (min-width: 900px) {
        .icon-mobile {
            display: none;
        }
    }
    
    @media screen and (max-width: 900px) {
        #content {
            margin-top: 30px;
            margin-right: 0;
        }
        #menu-links {
            display: none;
        }
        .icon-mobile {
            margin-top: 10px;
        }
        .icon-mobile>a {
            text-decoration: none;
        }
        .icon-mobile>a>span {
            color: white;
            font-size: 35px;
        }
        .icon-mobile>a>span:hover {
            color: aquamarine;
        }
    }
    /*  ======= */
    /*  MY CSS  */
    /*  ======*/
    
    #card {
        background-color: #ffffff;
        padding: 0 15px 10px 15px;
        width: 50%;
        border-radius: 4px;
        margin-top: 45px;
    }
    
    #card-body {
        display: flex;
        flex-direction: column;
    }
    
    .card-item {
        display: flex;
        gap: 5px;
        padding: 0px;
    }
    
    .img {
        border-radius: 50%;
        width: 60px;
        height: 60px;
        cursor: pointer;
    }
    
    .infos {
        margin-top: -40px;
    }
    
    .name {
        cursor: pointer;
    }
    
    .years>span {
        color: gray;
        font-size: 14px;
    }
    
    #card-header {
        margin-bottom: 35px;
    }
    
    #card-header>h2 {
        font-size: 30px;
        font-weight: 10;
    }
    
    #btn-clear {
        background-color: #f28bb2;
        color: white;
        border: none;
        padding: 13px;
        border-radius: 3px;
        width: 100%;
        font-size: larger;
    }