    /*  ==== ====== */
    /*  NAVBAR        */
    /*  ========= */
    
    * {
        box-sizing: border-box;
    }
    
    body {
        margin: 0;
        padding: 0;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    #navbar {
        background-color: #46aa13;
        padding: 5px 30px;
        display: flex;
        justify-content: space-between;
    }
    
    .img-site {
        width: 50px;
        border-radius: 50%;
    }
    
    .menu {
        font-weight: bold;
        display: flex;
    }
    #menu-links {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
    }
    .menu>ul>li{
        list-style: none;
        padding: 0px 0;
    }
    
    .menu>ul>li>a{
        text-decoration: none;
        color: white;
        padding: 30px 0;
        transition: all 0.5s ease;
    }
    
    .menu>ul>li>a:hover {
        color: aquamarine;
    }
    
    #titre-page {
        font-size: 22px;
        border-bottom: 2px solid gray;
    }
    
    #myVideo {
       
        width: 100%;
      }
    
      #content {
          margin-right: 400px;
      }
    
      .text-container {
        background: rgba(0, 0, 0, 0.678);
        color: #f1f1f1;
        padding: 10px;
        padding-bottom: 40px;
        position: relative;
        margin-top: -250px;
      }
    
      .text-container>p{
          margin-bottom: 24px;
      }
      
      #myBtn {
        width: 200px;
        font-size: 18px;
        font-weight: bold;
        padding: 10px;
        border: none;
        background: rgb(247 224 60);;
        color: black;
        cursor: pointer;
        text-decoration: none;
      }
      
      #myBtn:hover {
        background: rgb(197, 197, 2);
        color: black;
      }
    
      main {
        margin: 20px;
    } 
    
      @media screen and (min-width: 900px) {
        .icon-mobile{
            display: none;
        }
      }
      
      @media screen and (max-width: 900px) {
        #content {
            margin-top: 30px;
            margin-right: 0;
        }      
        #menu-links {
            display: none;
        }
        .icon-mobile {
            margin-top: 10px;
        }
        .icon-mobile>a {
            text-decoration: none;
        }
        .icon-mobile>a>span {
            color: white;
            font-size: 35px;
        }
        .icon-mobile>a>span:hover {
            color: aquamarine;
        }
      }    
    
    /*  ============== */
    /*  YOUR CSS  */
    /*  ==============*/

    #content{
        background-color: rgb(67, 21, 139);
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content__container{
        background-color: #fff;
        width: 80%;
        padding: 2rem;
        gap: 1.3rem;
        
        display: grid;
        grid-template-columns: 0.3fr 0.7fr;
    }

    .content__right>article{
            display: grid;
            grid-template-columns:1fr; 
            margin-bottom: 1rem;
            border: 1px solid black;
                     
    }
    .article__head{
        display:flex;
        justify-content: left;
        align-items: center;
        gap:1rem;
        border-bottom: 1px solid black;
    }
    .text{
        max-width: 80%;
        overflow: hidden;
        display: none;
        padding: 10px;
    }
    .content__right-icon{
        background-color: grey;
        width: 1.7rem;
        height:1.7rem;
        border-radius: 50%;
        font-size: 1.3rem;
        text-align: center;
        color: red;
        font-weight: bold;
        
    }