    /*  ==== ====== */
    /*  NAVBAR        */
    /*  ========= */
    
    * {
        box-sizing: border-box;
    }
    
    body {
        margin: 0;
        padding: 0;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        padding-bottom: 40px;
        background-color: rgba(198, 219, 206, 0.966);
    }
    
    #navbar {
        background-color: #46aa13;
        padding: 5px 30px;
        display: flex;
        justify-content: space-between;
    }
    
    .img-site {
        width: 50px;
        border-radius: 50%;
    }
    
    .infos {
        padding: 20px;
    }
    
    .menu {
        font-weight: bold;
        display: flex;
    }
    
    #menu-links {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
    }
    
    .menu>ul>li {
        list-style: none;
        padding: 0px 0;
    }
    
    .menu>ul>li>a {
        text-decoration: none;
        color: white;
        padding: 30px 0;
        transition: all 0.5s ease;
    }
    
    .menu>ul>li>a:hover {
        color: aquamarine;
    }
    
    #titre-page {
        font-size: 22px;
        border-bottom: 2px solid black;
    }
    
    #myVideo {
        width: 100%;
    }
    
    #content {
        display: flex;
        justify-content: center;
    }
    
    .text-container {
        background: rgba(0, 0, 0, 0.678);
        color: #f1f1f1;
        padding: 10px;
        padding-bottom: 40px;
        position: relative;
        margin-top: -250px;
    }
    
    .text-container>p {
        margin-bottom: 24px;
    }
    
    #myBtn {
        width: 200px;
        font-size: 18px;
        font-weight: bold;
        padding: 10px;
        border: none;
        background: rgb(247 224 60);
        ;
        color: black;
        cursor: pointer;
        text-decoration: none;
    }
    
    #myBtn:hover {
        background: rgb(197, 197, 2);
        color: black;
    }
    
    main {
        margin: 20px;
        
    }
    
    @media screen and (min-width: 900px) {
        .icon-mobile {
            display: none;
        }
        #card {
            width: 40%;
        }
    }
    
    @media screen and (max-width: 900px) {
        #content {
            margin-top: 30px;
            margin-right: 0;
        }
        #menu-links {
            display: none;
        }
        .icon-mobile {
            margin-top: 10px;
        }
        .icon-mobile>a {
            text-decoration: none;
        }
        .icon-mobile>a>span {
            color: white;
            font-size: 35px;
        }
        .icon-mobile>a>span:hover {
            color: aquamarine;
        }
        #card {
            width: 95%;
        }
    }
    /*  ======= */
    /*  MY CSS  */
    /*  ======*/

#content{
    box-sizing: border-box;
   display: flex;
   flex-direction: row;
   justify-content: start;
   align-items: stretch;
   gap: 30px;
}

#object{
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    border-bottom: 5px rgb(18, 180, 180);

}

#menu-left{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

#menu-left ul li{
    list-style: none;
    text-align: center;
    font-size: 16px;
    margin: 10px;
}

a{
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}
a:hover{
    border-left: 5px solid rgb(18, 180, 180);
    color:rgb(18, 180, 180)
}

#menu-droit{
    align-items: flex-start;
}

#nom{
    background: #f5f5f1b2;
    width: 15%;
    border-radius: 3px;
    border: 1px solid #f5f5f1b2 ; 
    font-size: 16px;
    text-align: center;
}
#date{
    font-size: 14px;
    
}

